<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Orditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Orditor.Properties.Settings>
            <setting name="AreasOriPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Inventory" serializeAs="String">
                <value />
            </setting>
            <setting name="Origin" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PythonPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SeedgenPath" serializeAs="String">
                <value />
            </setting>
        </Orditor.Properties.Settings>
    </userSettings>
</configuration>